 

 <div class="row">
  <div class="col-md-10"></div>
    <div class=" col-md-2">
      <div class="thumbnail">
        <img class="img-circle" src=<%=current_user.picture_url%>>	
        <h3><%=current_user.email %> Here is a bunch of info about the user. User comments and user reviews are listed here </h3>
      </div>
    </div>
  </div>