<h1 class="page-header">Qfinder</h1>
<body>
<div class="image-container">

  <div class="background">
    <div class="wrap">
      <div class="search">
        <input type="text" class="searchTerm" placeholder="What city are you looking for?">
        <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
</body>








