

  <h1 class="page-header">Qfinder</h1>
  <div class="row">
 <div class="col-md-10 jumbotron" style="background-image: url('http://assets.bonappetit.com/photos/57ae0a63f1c801a1038bcf18/16:9/w_1000,c_limit/texas-style-smoked-brisket.jpg');">
    
    <input type="text" class=" form-control col-md-4" placeholder="What city are you looking for?">

    <button type="submit" class=" btn btn-default ">search
    </button>
  
  <i class="fa fa-search" aria-hidden="true"></i>
  </div>   

    </div> 








