

     <div class="container">
      <div class=" jumbotron col-lg-9 col-md-10" style="background-image: url('http://assets.bonappetit.com/photos/57ae0a63f1c801a1038bcf18/16:9/w_1000,c_limit/texas-style-smoked-brisket.jpg'); background-repeat: no-repeat;">

        <form class="search-submit img-overlay text-center"  action="/places" method="get">
          <div class="search ">
            
            <div class="input-group input-group-lg lead" >
              <input type="text" class="searchTerm form-control " placeholder="What city are you looking for?">
              <span class="input-group-btn ">
              <button type="submit" class="  btn btn-lg  ">
              <i class="fa fa-search"></i>
              </button>
              </span>
            </div>

           </div>
        </form>
    </div>

   </div>
 








