

<h1 class="page-header">Hello</h1>
<% if current_user %>

<h2>You are signed in with <%= current_user.provider %></h2>
<div class="row">
  <div class=" col-md-4">
    <div class="thumbnail">
      <img src=<%=current_user.picture_url%>>	
     
    </div>
  </div>
</div>
<div class="container">
	
</div>

<%end %>