

<div class="container">
  <h1 class="page-header">Hi THere this web page works</h1>
  <div class="col-lg-8 col-md-8 col-sm-8 ">
    <div id='map-container' class="iframe-container "></div>
  </div>

  <div id='stuff' class="col-lg-4 col-md-4 col-sm-4 "> </div>

</div>

